.footer{
    padding: 40px 0;
    color: var(--color-gray);
    background-color: var(--color-black);
    &__inner{
        display: flex;
        align-items: center;
    }
    &__logo {
        margin: 0 auto;
    }
    &__pfone{
        margin-left: auto;
    }
}