.order {
    &__inner {
        display: flex;
    }
    &__form {
        width: 600px;
        height: 600px;
        @include flex-center;
        flex-direction: column;
        color: var(--color-white);
        background-color: var(--color-purpur-form);
        p {
            color: var(--color-gray);
        }
        &-title {
            color: var(--color-white);
        }
        &-input {
            width: 400px;
            padding: 10px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid var(--color-white);
            outline: none;
        }
        &-input:focus {
            outline: none;
            color: var(--color-white);
        }
        &-name {
            margin: 72px 0 30px;
        }
        &-phone {
            margin-bottom: 30px;
        }
        &-button {
            width: 240px;
            height: 50px;
            background: var(--color-white);
            border: none;
            border-radius: 30px;
            cursor: pointer;
        }
    }
}
