:root {
    --color-black: #0a0a0a;

    --color-gray: #717171;
    --color-black-dark: #574b63;

    --color-white: #fff;
    --color-white-ligth: #f5f5f5;
    --color-white-darknes: #f5f5f7;

    --color-purpur: #541692;
    --color-purpur-ligth: #490e84;
    --color-purpur-form: #574B63;

    --container-width: 1200px;

    --font-family-base: "Inter", sans-serif;

    --transition-duration: 0.2s;
}
